body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container h2 {
    color: white;
}
.logo {
    font-size: 24px;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #575757;
    border-radius: 4px;
}

.categories {
    padding: 50px 0;

    background-image: url('images/gradient-backgrounds.webp');
}

.categories h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.category {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.category h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.explore-button {
    display: inline-block;
    background-color: #0088cc;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #005580;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}
