body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

.main {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  width: calc(25% - 1rem); /* For desktop */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.image-card img {
  max-width: 100%;
  display: block;
}

.image-card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.btn {
  background-color: #007BFF;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
  .btn:hover {
    background-color: #0056b3;
  }
  

.btn1 {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn1:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .image-card {
      width: calc(50% - 1rem); /* For tablets */
  }
}

@media (max-width: 480px) {
  .image-card {
      width: calc(100% - 1rem); /* For mobile */
  }
}
