body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#searchInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#searchButton {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

#searchButton:hover {
    background-color: #0056b3;
}

#searchResults {
    margin: 20px;
    width: 80%;
    text-align: left;
}

@media (max-width: 600px) {
    #searchInput {
        width: 80%;
    }
}
