* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

h1 {
    margin: 0;
}

nav {
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-list li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #menu-toggle:checked + .menu-icon + .nav-list {
        display: flex;
    }
}

main {
    padding: 20px;
}

.shows-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show-item {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.show-item:hover {
    transform: scale(1.05);
}

.show-image {
    width: 100%;
    height: auto;
}

.show-info {
    text-align: center;
    padding: 10px 0;
}

.show-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.channel-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.channel-button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .show-item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .show-item {
        width: 100%;
    }
}
