*{
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}


@media (max-width: 768px) {

    .logo {
        font-size: 20px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.burger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.channels {
    text-align: center;
    padding: 50px 20px;
    background-image: url(Images/grad2.jpg);

}

.channels h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    
}

.channels-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.channel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    background-image: url(Images/gradient-backgrounds.webp);

}

.channel img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.channel h2 {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        display: flex;
    }
}



  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Styles for the back button */
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  
  }
  
  .back-button i {
    margin-right: 10px;
  }
  
  /* Styles for the container */
  .container {
    position: relative;
  }
  
  /* Adjustments for mobile screens */
  @media screen and (max-width: 768px) {
    .back-button {
        top: 35px;
        left: 10px;
    color: #ff0026;
    }
  }
  
